build/
node_modules/
node_modules/artifacts
lockproof_js/
guestproof_js/
challenge_*
response_*
input.json
*.r1cs
*.sym
*.ptau
*.zkey
*.wtns
lockproof_constraints.json
pot*.ptau
__pycache__
.DS_Store
*.swp
*~
*.wasm
*.json
*.key
circuits/*.json
circom-ecdsa/